:root {
  --primary-color: #c72727;
  --secondary-color: rgb(73, 167, 73);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins';
  background: #fff;
  line-height: 1.9;
  color: #333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Open sans";
  color: #fff;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  font-family: "Open Sans";
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Text */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.text-red {
  color: var(--primary-color);
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #d82020;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
  opacity: .6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-form {
  cursor: pointer;
  display: inline-block;
  background-color: #d82020;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  opacity: .6;
}

.btn-form:hover {
  color: #fff;
  opacity: .6;
}

.bg-joker,
.btn-joker {
  background: linear-gradient(30deg, #e03939, #0f630f);
  color: #fff;
}

.btn-primary,
.bg-primary {
  background: #28a745;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background-color: #0284d0;
  color: #fff;
}

.bg-hell {
  background: red;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

.btn-light,
.bh-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Navbar */
#navbar {
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 70px;
  padding: 0 30px;
  width: 100%;
  opacity: 0.9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#navbar .logo {
  font-weight: 700;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#navbar ul li a {
  padding: 1rem 1.5rem;
  margin: 0 .3rem;
}

#navbar ul li a:hover {
  color: var(--primary-color);
}

#navbar.top {
  background: transparent;
}

/* Hero */
.hero {
  background: url(/images/home/joker_profile.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  position: relative;
}

.hero:before {
  position: absolute;
  content: '';
  background: linear-gradient(30deg, #853939, #49a749);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.hero * {
  z-index: 1;
}

.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 50px;
}

.hero .content .hell {
  font-weight: bold;
}

.hero .content p {
  font-size: 23px;
  margin: 20px 0 30px 0;
}

.hero .content h1, .hero .content p, .hero .content a {
  margin-right: 30px;
}
/*# sourceMappingURL=style.css.map */