:root {
  --primary-color: #c72727;
  --secondary-color: rgb(73, 167, 73);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins';
  background: #fff;
  line-height: 1.9;
  color: #333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Open sans";
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: "Poppins";
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  font-family: "Open Sans";
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Text */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.text-red {
  color: var(--primary-color);
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #d82020;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
  opacity: .6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-form {
  cursor: pointer;
  display: inline-block;
  background-color: #d82020;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  opacity: .6;
  border: none;
}

.btn-form:hover {
  background: #830505;
  color: #fff;
  opacity: .6;
}

.bg-joker,
.btn-joker {
  background: linear-gradient(30deg, #e03939, #0f630f);
  color: #fff;
}

.btn-primary,
.bg-primary {
  background: #28a745;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background-color: #0284d0;
  color: #fff;
}

.bg-hell {
  background: #690d0e;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

.btn-light,
.bh-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* Flex functions */
.flex-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.flex-items > div {
  padding: 20px;
}

.flex-columns .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.flex-columns .row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-columns .row .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  height: 100%;
  padding: 30px;
}

.flex-columns .row h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns .row h4 {
  margin-bottom: 10px;
}

.flex-columns .row p {
  margin: 20px 0;
}

.flex-columns .row img {
  width: 100%;
  height: 100%;
  object: fit;
}

.flex-columns.flex-reverse .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Flex Grid */
.flex-grid .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: .5rem;
}

/* Section padding and header */
.section-padding {
  padding: 20px 20px 40px 20px;
}

/* Section Header */
.section-header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 700;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  height: 70px;
  background: #333;
  color: #fff;
  width: 100%;
  opacity: 0.9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.navbar ul li:hover a:hover {
  color: #28a745;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 3px;
}

.navbar .logo {
  font-weight: 700;
}

.navbar.top {
  background: transparent;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar ul a {
  padding: 1rem .5rem;
  margin: 0 .3rem;
}

.navbar ul a:hover {
  color: var(--primary-color);
}

.navbar.top {
  background: transparent;
}

/* Hero */
.hero {
  background: url(/images/home/joker_profile.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  position: relative;
}

.hero:before {
  position: absolute;
  content: '';
  background: linear-gradient(30deg, #853939, #49a749);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.hero * {
  z-index: 1;
}

.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 50px;
}

.hero .content .hell {
  font-weight: bold;
}

.hero .content p {
  font-size: 23px;
  margin: 20px 0 30px 0;
}

.hero .content h1, .hero .content p, .hero .content a {
  margin-right: 30px;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 1rem;
}

#team img {
  height: 380px;
  border-radius: 50%;
}

/* Callback form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form .form-control label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.callback-form .btn-form {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    padding: 20px;
  }
  .navbar ul a {
    padding: 15px;
  }
  .hero .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .flex-columns .row,
  .flex-grid .row,
  .flex-reverse .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .team .flex-items img {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */